# Chicago Noise Complaints ETL

### ETL process

#### Extract
* Import csv file into Pandas DataFrame.

#### Transform
* Drop columns not required.
* Rename a column.
* Add new columns and calculate their values.
* Drop columns no longer required.
* Drop complaints dated earlier than 1/1/16 (keeping only complaints within approximately last 5 years).
* Get zip code, full address, latitude, and longitude from Google Maps geocoding API.
* Drop columns no longer needed.
* Group data by zip code and get count of noise complaints for each zip code.

#### Load
* Export data to PostgreSQL database.

In [1]:
# Import dependencies.
import pandas as pd
import requests
import datetime as dt
import json

# Import credentials from file.

# Google maps geocoding API key.
from credentials import gmaps_key

# Postgres database credentials.
from credentials import pgadmin_username
from credentials import pgadmin_password

## Extract

### Import cvs file into Pandas DataFrame.

In [2]:
# Read in csv file and store as Pandas dataframe.
noise_complaints_df = pd.read_csv("../Resources/Noise_Complaints_chicago.csv")

noise_complaints_df.head(1)

,COMPLAINT ID,COMPLAINT TYPE,STREET NUMBER FROM,STREET NUMBER TO,DIRECTION,STREET NAME,STREET TYPE,INSPECTOR,COMPLAINT DATE,COMPLAINT DETAIL,INSPECTION LOG,DATA SOURCE,Modified Date
0,DOECOMP2,Noise Complaint,1,NaN,S,STATE,ST,10,08/23/1993,STREET MUSIC HEAVY NOISE POLLUTION REFERRED TO...,MORE INFORMATION MAY BE AVAILABLE IN THE CDPH ...,HISTORIC DEPT. OF ENVIRONMENT,01/01/2012

## Transform

### Drop columns not required.

In [3]:
# Drop COMPLAINT ID, COMPLAINT TYPE, STREET NUMBER TO, INSPECTOR, INSPECTION LOG, DATA SOURCE, and Modified Date columns.
(noise_complaints_df.drop(columns=['COMPLAINT ID', 'COMPLAINT TYPE', 'STREET NUMBER TO', 'INSPECTOR', 'COMPLAINT DETAIL', 
                                   'INSPECTION LOG', 'DATA SOURCE', 'Modified Date'], inplace=True))

noise_complaints_df.head(1)

   STREET NUMBER FROM DIRECTION STREET NAME STREET TYPE COMPLAINT DATE
0                   1         S       STATE          ST     08/23/1993

### Rename a column.
#### Column names that may be exported to PostgreSQL database in later ETL step are formatted in lower-case and with underscores to comply with PostgreSQL import requirements.

In [4]:
# Rename STREET NUMBER FROM column to simply STREET NUMBER for readability as this column will be used to represent 
# point locations rather than ranges.

noise_complaints_df.rename(columns = {'STREET NUMBER FROM':'street_number'}, inplace = True)

noise_complaints_df.head(1)

   street_number DIRECTION STREET NAME STREET TYPE COMPLAINT DATE
0              1         S       STATE          ST     08/23/1993

### Add new columns and calculate their values.

In [5]:
# Add columns to store formatted date, zip code, full address, latitude, and longitude.

# Add DATE column derived from COMPLAINT DATE column. This column holds dates in Pandas DateTime format and 
# will be used to select noise complaints within recent years.
noise_complaints_df["date"] = pd.to_datetime(noise_complaints_df["COMPLAINT DATE"])

# Add ZIP CODE column. Will be populated with results of API call and will be used to join PostgresSQL tables.
noise_complaints_df["zip_code"] = ""

# Add CITY column needed for Google Maps API call.
noise_complaints_df["city"] = "Chicago"

# Add STATE column needed for Google Maps API call.
noise_complaints_df["state"] = "IL"

# Add partial address column and compute contents from existing columns. This column will be sent to Google Maps API call.
noise_complaints_df["partial_address"] = (noise_complaints_df["street_number"].map(str)+" "+noise_complaints_df["DIRECTION"]
                                          +" "+noise_complaints_df['STREET NAME']+" "+noise_complaints_df['STREET TYPE']
                                          +", "+noise_complaints_df['city']+", "+noise_complaints_df['state'])

# Add NUM COMPLAINTS column to be filled in later groupby/aggregation step.
noise_complaints_df["num_complaints"] = ""

noise_complaints_df.head(1)

,street_number,DIRECTION,STREET NAME,STREET TYPE,COMPLAINT DATE,date,zip_code,city,state,partial_address,num_complaints
0,1,S,STATE,ST,08/23/1993,1993-08-23,,Chicago,IL,"1 S STATE ST, Chicago, IL",

### Drop complaint date and address component columns as they are no longer needed.

In [7]:
# Drop COMPLAINT DATE, STREET NUMBER, DIRECTION, STREET NAME, STREET TYPE, CITY, and STATE columns.
(noise_complaints_df.drop(columns=['COMPLAINT DATE', 'street_number', 'DIRECTION', 'STREET NAME', 'STREET TYPE', 'city', 
                                   'state'], inplace=True))

noise_complaints_df.head(0)

Empty DataFrame
Columns: [date, zip_code, partial_address, num_complaints]
Index: []

### Drop complaints dated earlier than 1/1/2016, keeping only complaints within approximately the last 5 years.

In [23]:
# Format 1/1/2016 as datetime object so it can be used in date comparison step.
date = dt.datetime.strptime('1/1/2016', '%m/%d/%Y')

# Select rows in which FORMATTED DATE is >= 1/1/2016. Store results in new DataFrame.
last_5_years_df = noise_complaints_df.loc[noise_complaints_df["date"] >= date]

# Sort ascending and print to check that prior dates were successfully removed.
last_5_years_df.sort_values("date")

# View row count to compare with row count following geocoding step.
print(last_5_years_df)

           date zip_code                     partial_address num_complaints
195  2016-01-25                1456 N DAYTON ST, Chicago, IL
196  2016-03-10                 19 S WABASH AVE, Chicago, IL
197  2016-05-26             1500 N CLYBOURN AVE, Chicago, IL
198  2016-06-16                640 N WABASH AVE, Chicago, IL
199  2016-06-28              1035 N DEARBORN ST, Chicago, IL
...         ...      ...                                 ...            ...
9235 2020-01-02               3631 N HALSTED ST, Chicago, IL
9236 2020-07-20           5100 N RAVENSWOOD AVE, Chicago, IL
9237 2020-11-16            4335 W KAMERLING AVE, Chicago, IL
9238 2020-02-04                1743 N MOZART ST, Chicago, IL
9239 2020-03-12                  1756 W 18TH ST, Chicago, IL

[1152 rows x 4 columns]

### Get zip code from Google Maps geocoding API.

In [31]:
test_df = last_5_years_df.head(50)
test_df

          date zip_code                     partial_address num_complaints
195 2016-01-25    60642       1456 N DAYTON ST, Chicago, IL
196 2016-03-10    60603        19 S WABASH AVE, Chicago, IL
197 2016-05-26    60610    1500 N CLYBOURN AVE, Chicago, IL
198 2016-06-16    60611       640 N WABASH AVE, Chicago, IL
199 2016-06-28    60610     1035 N DEARBORN ST, Chicago, IL
200 2016-07-06    60610        1340 N ASTOR ST, Chicago, IL
201 2016-07-25    60633   12600 S TORRENCE AVE, Chicago, IL
202 2016-08-03    60640     1470 W RASCHER AVE, Chicago, IL
203 2016-09-13    60612     2201 W SUPERIOR ST, Chicago, IL
204 2016-10-31    60611      105 E DELAWARE PL, Chicago, IL
205 2016-11-29                  1133 W 35TH ST, Chicago, IL
206 2017-02-14              626 N MICHIGAN AVE, Chicago, IL
207 2017-03-09                  1834 W ERIE ST, Chicago, IL
208 2017-04-03                 100 E WALTON ST, Chicago, IL
209 2017-06-07              1035 N DEARBORN ST, Chicago, IL
210 2017-06-26                     67 E OAK ST, Chicago, IL
211 2017-09-06              678 N KINGSBURY ST, Chicago, IL
212 2017-10-18           7500 W IRVING PARK RD, Chicago, IL
213 2017-12-26                  700 S WELLS ST, Chicago, IL
214 2018-02-21            3845 N NEWCASTLE AVE, Chicago, IL
215 2018-02-26            4215 W ARTHINGTON ST, Chicago, IL
216 2018-02-28              1927 N RICHMOND ST, Chicago, IL
217 2018-03-08              4101 N KENNETH AVE, Chicago, IL
218 2018-03-20              1144 W NEWPORT AVE, Chicago, IL
219 2018-09-07                                          NaN
220 2018-12-03           2738 N PINE GROVE AVE, Chicago, IL
221 2018-12-12              316 E CULLERTON ST, Chicago, IL
222 2018-12-21            4600 N CLARENDON AVE, Chicago, IL
223 2019-03-18             6213 N LAWNDALE AVE, Chicago, IL
224 2019-04-15                   159 W ERIE ST, Chicago, IL
225 2019-04-19               4518 N KEDZIE AVE, Chicago, IL
226 2019-04-29                                          NaN
227 2019-05-09            11751 S ARTESIAN AVE, Chicago, IL
228 2019-08-28                2314 W ARGYLE ST, Chicago, IL
229 2019-09-09            1820 N SPAULDING AVE, Chicago, IL
230 2019-09-18           7100 S DORCHESTER AVE, Chicago, IL
231 2019-10-22               11133 S HOMAN AVE, Chicago, IL
232 2019-10-24              1632 W DIVISION ST, Chicago, IL
233 2019-11-05                1743 N MOZART ST, Chicago, IL
234 2019-11-18            1540 W FULLERTON AVE, Chicago, IL
235 2019-12-02                3814 S UNION AVE, Chicago, IL
236 2020-01-09               4558 N ELSTON AVE, Chicago, IL
237 2020-03-13              3035 S KENNETH AVE, Chicago, IL
238 2020-03-16                916 W ADDISON ST, Chicago, IL
239 2020-03-19                1551 W NORTH AVE, Chicago, IL
240 2020-04-06                 5970 N CLARK ST, Chicago, IL
241 2020-04-20            1452 N FAIRFIELD AVE, Chicago, IL
242 2020-04-27                400 W ONTARIO ST, Chicago, IL
243 2020-05-04               3234 W LELAND AVE, Chicago, IL
244 2020-05-04               100 S SANGAMON ST, Chicago, IL

In [32]:
for index, row in test_df.iterrows():
    
    try:
        
        # Send partial addresses through Google Maps geocoding api call.
        address = row["partial_address"]
        url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format(address, gmaps_key)
        response = requests.get(url).json()
        
        # Extract zip code from json.
        zip_code = response["results"][0]["address_components"][7]["short_name"]
        
        # Store zip code in appropriate DataFrame cell.
        test_df.at[index, "zip_code"] = zip_code
    
    # Index errors occur in API call when 
    except(IndexError): pass
    
print(test_df)

          date zip_code                     partial_address num_complaints
195 2016-01-25    60642       1456 N DAYTON ST, Chicago, IL
196 2016-03-10    60603        19 S WABASH AVE, Chicago, IL
197 2016-05-26    60610    1500 N CLYBOURN AVE, Chicago, IL
198 2016-06-16    60611       640 N WABASH AVE, Chicago, IL
199 2016-06-28    60610     1035 N DEARBORN ST, Chicago, IL
200 2016-07-06    60610        1340 N ASTOR ST, Chicago, IL
201 2016-07-25    60633   12600 S TORRENCE AVE, Chicago, IL
202 2016-08-03    60640     1470 W RASCHER AVE, Chicago, IL
203 2016-09-13    60612     2201 W SUPERIOR ST, Chicago, IL
204 2016-10-31    60611      105 E DELAWARE PL, Chicago, IL
205 2016-11-29    60609         1133 W 35TH ST, Chicago, IL
206 2017-02-14    60611     626 N MICHIGAN AVE, Chicago, IL
207 2017-03-09    60622         1834 W ERIE ST, Chicago, IL
208 2017-04-03    60611        100 E WALTON ST, Chicago, IL
209 2017-06-07    60610     1035 N DEARBORN ST, Chicago, IL
210 2017-06-26    60611            67 E OAK ST, Chicago, IL
211 2017-09-06    60654     678 N KINGSBURY ST, Chicago, IL
212 2017-10-18    60706  7500 W IRVING PARK RD, Chicago, IL
213 2017-12-26    60607         700 S WELLS ST, Chicago, IL
214 2018-02-21    60634   3845 N NEWCASTLE AVE, Chicago, IL
215 2018-02-26    60624   4215 W ARTHINGTON ST, Chicago, IL
216 2018-02-28    60647     1927 N RICHMOND ST, Chicago, IL
217 2018-03-08    60641     4101 N KENNETH AVE, Chicago, IL
218 2018-03-20    60657     1144 W NEWPORT AVE, Chicago, IL
219 2018-09-07                                          NaN
220 2018-12-03    60614  2738 N PINE GROVE AVE, Chicago, IL
221 2018-12-12    60616     316 E CULLERTON ST, Chicago, IL
222 2018-12-21    60640   4600 N CLARENDON AVE, Chicago, IL
223 2019-03-18    60659    6213 N LAWNDALE AVE, Chicago, IL
224 2019-04-15    60654          159 W ERIE ST, Chicago, IL
225 2019-04-19    60625      4518 N KEDZIE AVE, Chicago, IL
226 2019-04-29                                          NaN
227 2019-05-09    60655   11751 S ARTESIAN AVE, Chicago, IL
228 2019-08-28    60625       2314 W ARGYLE ST, Chicago, IL
229 2019-09-09    60647   1820 N SPAULDING AVE, Chicago, IL
230 2019-09-18    60619  7100 S DORCHESTER AVE, Chicago, IL
231 2019-10-22    60655      11133 S HOMAN AVE, Chicago, IL
232 2019-10-24    60622     1632 W DIVISION ST, Chicago, IL
233 2019-11-05    60647       1743 N MOZART ST, Chicago, IL
234 2019-11-18    60614   1540 W FULLERTON AVE, Chicago, IL
235 2019-12-02    60609       3814 S UNION AVE, Chicago, IL
236 2020-01-09    60630      4558 N ELSTON AVE, Chicago, IL
237 2020-03-13    60623     3035 S KENNETH AVE, Chicago, IL
238 2020-03-16    60613       916 W ADDISON ST, Chicago, IL
239 2020-03-19    60622       1551 W NORTH AVE, Chicago, IL
240 2020-04-06    60660        5970 N CLARK ST, Chicago, IL
241 2020-04-20    60622   1452 N FAIRFIELD AVE, Chicago, IL
242 2020-04-27    60654       400 W ONTARIO ST, Chicago, IL
243 2020-05-04    60625      3234 W LELAND AVE, Chicago, IL
244 2020-05-04    60607      100 S SANGAMON ST, Chicago, IL

In [33]:
# Loop over last_5_years_df and make calls to the Google Maps geocoding API to retreive zip code.

for index, row in last_5_years_df.iterrows():
    
    try:
        
        # Send partial addresses through Google Maps geocoding api call.
        address = row["partial_address"]
        url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format(address, gmaps_key)
        response = requests.get(url).json()
        
        # Extract zip code from API response.
        zip_code = response["results"][0]["address_components"][7]["short_name"]
        
        # Store zip code in appropriate DataFrame cell.
        last_5_years_df.at[index, "zip_code"] = zip_code

    # Index errors occur in the parsing step when the API returns an empty json. This occurs when a partial_address
    # sent in the API call is either blank or has typos. It also occurs when a ligitimate partial_address is sent
    # but doesn't exist in the Google Maps database.Excepting these errors results in 30 blank rows in the DataFrame 
    # which we remove in a later step.
    except(IndexError): pass

In [35]:
# Print DataFrame after geocoding step to ensure that zip code was filled in and all rows are still present.
print(last_5_years_df)

           date zip_code                     partial_address num_complaints
195  2016-01-25    60642       1456 N DAYTON ST, Chicago, IL
196  2016-03-10    60603        19 S WABASH AVE, Chicago, IL
197  2016-05-26    60610    1500 N CLYBOURN AVE, Chicago, IL
198  2016-06-16    60611       640 N WABASH AVE, Chicago, IL
199  2016-06-28    60610     1035 N DEARBORN ST, Chicago, IL
...         ...      ...                                 ...            ...
9235 2020-01-02    60613      3631 N HALSTED ST, Chicago, IL
9236 2020-07-20    60640  5100 N RAVENSWOOD AVE, Chicago, IL
9237 2020-11-16    60651   4335 W KAMERLING AVE, Chicago, IL
9238 2020-02-04    60647       1743 N MOZART ST, Chicago, IL
9239 2020-03-12    60608         1756 W 18TH ST, Chicago, IL

[1152 rows x 4 columns]

### Drop columns no longer needed.

In [36]:
# Drop all columns except zip_code and num_complaints.
last_5_years_df = last_5_years_df[['zip_code', 'num_complaints']]

last_5_years_df.head()

    zip_code num_complaints
195    60642
196    60603
197    60610
198    60611
199    60610

### Aggregate data to zip codes.

In [37]:
# Group data by zip code and compute number of complaints in each zip code.
gb_df = last_5_years_df.groupby('zip_code').agg({"num_complaints": "count"}).reset_index()

gb_df.head()

  zip_code  num_complaints
0                       30
1    60601               7
2    60602               4
3    60603               4
4    60604               1

### Check for typos and missing data

In [38]:
# Sort zip_df to check for typos and missing data. 3 errors are present: a blank, '10301', and 'US'.
gb_df.sort_values("zip_code")

gb_df

   zip_code  num_complaints
0                        30
1     60601               7
2     60602               4
3     60603               4
4     60604               1
5     60605              54
6     60606               5
7     60607              39
8     60608              33
9     60609              31
10    60610              59
11    60611              58
12    60612              12
13    60613              20
14    60614             102
15    60615              18
16    60616              52
17    60617              10
18    60618              46
19    60619              27
20    60620               6
21    60622              43
22    60623               6
23    60624               4
24    60625              48
25    60626               8
26    60628               2
27    60629              13
28    60630              16
29    60631               6
30    60632               4
31    60633               6
32    60634              16
33    60636               4
34    60637               8
35    60638              10
36    60639              11
37    60640              33
38    60641              12
39    60642              32
40    60643              10
41    60644               6
42    60645               6
43    60646               6
44    60647              39
45    60649               3
46    60651               4
47    60652              13
48    60653               8
49    60654              37
50    60655               4
51    60656               1
52    60657              57
53    60659              16
54    60660               6
55    60661              14
56    60666               1
57    60706               1
58    60707               6
59       US              14

### Remove 2 rows found to have errors.

In [41]:
# Filter out any ZIP CODE entries that don't have 5 digits to remove the blank and the 'US'.
final_df = gb_df[gb_df['zip_code'].str.len() == 5]

# View data to make sure all typos and missing data are cleared. After removing blanks and 'US', 58 zip codes remain.
final_df

   zip_code  num_complaints
1     60601               7
2     60602               4
3     60603               4
4     60604               1
5     60605              54
6     60606               5
7     60607              39
8     60608              33
9     60609              31
10    60610              59
11    60611              58
12    60612              12
13    60613              20
14    60614             102
15    60615              18
16    60616              52
17    60617              10
18    60618              46
19    60619              27
20    60620               6
21    60622              43
22    60623               6
23    60624               4
24    60625              48
25    60626               8
26    60628               2
27    60629              13
28    60630              16
29    60631               6
30    60632               4
31    60633               6
32    60634              16
33    60636               4
34    60637               8
35    60638              10
36    60639              11
37    60640              33
38    60641              12
39    60642              32
40    60643              10
41    60644               6
42    60645               6
43    60646               6
44    60647              39
45    60649               3
46    60651               4
47    60652              13
48    60653               8
49    60654              37
50    60655               4
51    60656               1
52    60657              57
53    60659              16
54    60660               6
55    60661              14
56    60666               1
57    60706               1
58    60707               6

## Load

### Export transformed Pandas DataFrame to csv file.

In [50]:
final_df.to_csv("Noise_complaint_counts_by_zip.csv", index = False)